DOUYIN_COLLECTOR_MODE=mock
DOUYIN_HOST=127.0.0.1
DOUYIN_PORT=8000
DOUYIN_MOCK_ROOM_ID=mock-room-001
DOUYIN_MOCK_INTERVAL_SECONDS=2
DOUYIN_WS_URL=
DOUYIN_ROOM_ID=
DOUYIN_ROOM_TITLE=
DOUYIN_TTWID=
DOUYIN_WS_EXPIRES_AT=
DOUYIN_SIGNATURE_REFRESH_MARGIN_SECONDS=15
DOUYIN_RECONNECT_INITIAL_SECONDS=3
DOUYIN_RECONNECT_MAX_SECONDS=60
DOUYIN_RECONNECT_JITTER_RATIO=0.2
DOUYIN_RECONNECT_RESET_AFTER_SECONDS=10
DOUYIN_HEARTBEAT_INTERVAL_SECONDS=15
DOUYIN_WEBSOCKET_MAX_SIZE=4194304
DOUYIN_PROTOCOL_DEBUG=false
